AdminUsername="your_admin_email_here"
AdminPassword="your_admin_password_here"
MongoHost="your_mongo_db_host_here"
MongoDatabase="your_mongo_db_name_here"
PhoneAuthId=""
PhoneAuthToken=""
RefEmailPass="your_no_reply_email_password_here"
PayloadSecret="your_payload_secret_here"
TSClientSecret="your_github_oauth_secret_here"
RecaptchaKey="your_recaptcha_secret_here"